<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root" name="Hospital"
              web_icon="om_hospital,static/description/icon.png"/> <!-- MENU PRINCIPAL -->

    <menuitem id="menu_front_desk" name="Escritorio" parent="menu_hospital_root"/> <!-- CATEGORIAS -->
    <menuitem id="menu_patients" name="Lista de Pacientes" parent="menu_front_desk"
              action="action_hospital_patient"/>
    <menuitem id="menu_readonly_patients" name="Lista de Pacientes (Read Only)" parent="menu_front_desk"
              action="action_hospital_readonly_patient"/>
    <menuitem id="menu_appointment" name="Lista de Citas" parent="menu_front_desk" action="action_hospital_appointment"/>
    <menuitem id="menu_appointment_lines" name="Lista de Citas Lines" parent="menu_front_desk" action="action_hospital_appointment_lines"/>

    <menuitem id="menu_settings" name="Configuracion" parent="menu_hospital_root"/> <!-- CATEGORIAS -->
    <menuitem id="menu_tags" name="Tags" parent="menu_settings" action="action_patient_tag"/>

    <menuitem id="menu_pharmacy" name="Farmacia" parent="menu_hospital_root"/> <!-- CATEGORIAS -->
    <menuitem id="menu_meds" name="Lista de medicamentos" parent="menu_pharmacy" action="action_hospital_meds"/>

</odoo>
